/*google fonts, only one sans serif used*/
$sans-serif: 'Roboto',
sans-serif;

/*google fonts, weights*/
$bold-weight: 400;
$regular-weight: 500;


body {
    background: #f5f3f0;
    font-family: $sans-serif;
}

header {
    font-weight: $bold-weight;
}
