/*google fonts, only one sans serif used accesss at top of page for in progress code*/
$sans-serif: 'Roboto',
sans-serif;

/*google fonts, weights*/
$bold-weight: 500;
$regular-weight: 300;

body {
    background: #f5f3f0;
    font-family: $sans-serif;
}

h1 {
    font-size: 1vw;
    font-weight: $bold-weight;
}

header {
    font-weight: $bold-weight;
    font-size: 4vw;
}

.mission-statement {
    font-size: 3vw;
    font-weight: $regular-weight;
}



ul {
    list-style-type: none;
}
