<footer>

    <section class="footer_socials">
        <a href="https://twitter.com/SNToolLibrary/">{% include "_footer_socials-icon1.html" %}</a>
        <a href="https://www.instagram.com/stationnorthtoollibrary/">{% include "_footer_socials-icon2.html" %}</a>
        <a href="https://www.facebook.com/StationNorthToolLibrary/">{% include "_footer_socials-icon3.html" %}</a>
    </section>

    <section class="footer_contact">
        <h2 class="footer_contact_head-1 caps-text footer_border">Library Hours</h2>

        <section class="footer_contact-info-1">
            <time>Monday-Thursday; 5pm-8pm</time><br>
            <time>Saturday-Sunday; 11am-5pm</time>
        </section>

        <h2 class="footer_contact_head-2 caps-text footer_border">Open Shop Hours</h2>

        <section class="footer_contact-info-2">
            <time>Tuesdays; 2pm-8pm</time><br>
            <time>Sundays; 11am-5pm</time>
        </section>


        <h2 class="footer_contact_head-3 caps-text footer_border">Our Location</h2>

        <a class="footer_contact-info-3" href="https://www.google.com/maps/place/Station+North+Tool+Library/@39.3066755,-76.6122498,17z/data=!3m1!4b1!4m5!3m4!1s0x89c80493276aaa65:0x3b0cbffb9c347e16!8m2!3d39.3066755!4d-76.6100611?hl=en">417
            E Oliver St. Baltimore 21202</a>


        <h2 class="footer_contact_head-4 caps-text footer_border">Contact Us </h2>

        <section class="footer_contact-info-4">
            <address>
                410-347-0850
            </address>
            <a href="mailto:info@stationnorthtoollibrary.org">
                info@stationnorthtoollibrary.org
            </a>
        </section>
    </section>

</footer>
