<nav class="site-nav">

	<button type="button" id="js-nav-trigger" aria-controls="js-site-nav" aria-expanded="false" class="u-button-reset site-nav__trigger">
		<span aria-hidden="true" class="menu-icon">
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
			<div class="menu-icon__line"></div>
		</span>
	</button>

	<ul id="js-site-nav" class="site-nav__list" aria-hidden="false" data-visible="false">

		<li class="site-nav_logo" {{nav.data.title}}>
			<a href="/" class="site-nav__link">
				<?xml version="1.0" encoding="utf-8"?>
				<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

				{% include "_nav-icon.html" %}

			</a>

			{% for nav in collections.nav %}
		<li class="site-nav__list-item site-nav__link {% if (page.url==nav.url) %}is-active{% endif%}"><a href="{{ nav.url}}">{{
				nav.data.title
				}}</a></li>
		{% endfor %}

</nav>
