<!DOCTYPE html>
<html lang="en">

<head>
 <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <title>Station North Tool Library</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

	{% include "_nav.html" %}
 
{{ content | safe }}

 {% include "_footer.html" %}


<script src="../../js/homepage.js"></script>

</body>

</html>
