body {
    background: #202221;
}

/*all responsive values used becauses the composition and margins are so particular*/

/*google fonts*/
$abstract-display:'Megrim',
cursive;
$thin-display:'Josefin Sans',
sans-serif;
$thick-display:'Raleway',
sans-serif;

/*body text font size and weight*/
$font-size: 1.7vw;
$font-weight: 200;


/*margins for body*/
.body-lineone {
    margin-top: 6vw;
}

.body-linetwo {
    margin-left: 4vw;
}

.body-linethree {
    margin-left: 8vw;
}

.body-linefour {
    margin-top: 2vw;
    margin-left: 30vw;
}

.body-linefive {
    margin-top: -2vw;
    margin-left: 16vw;
}

.body-linesix {
    margin-left: 4vw;
}

.body-lineeight {
    margin-left: 4vw;
}

.body-lineten {
    margin-left: 12vw;
}

.body-lineeleven {
    margin-left: 8vw;
}

.body-linetwelve {
    margin-left: 12vw;
    margin-bottom: -2vw;
}

.body-linethirteen {
    margin-top: -1.5vw;
    margin-left: 12vw;
}

.body-linefourteen {
    margin-left: 8vw;
}

.body-linefifteen {
    margin-left: 4vw;
}

.body-linesixteen {
    margin-left: 8vw;
}

.body-lineeighteen {
    margin-left: 4vw;
}

.body-linenineteen {
    margin-left: 6vw;
}

.body-linetwenty {
    margin-left: 12vw;
}

.body-linetwentyone {
    margin-left: 16vw;
}

.body-linetwentytwo {
    margin-top: 10vw;
    margin-left: 20vw;
}

.body-linetwentythree {
    margin-top: 0;
    margin-left: 16vw;
}

.body-linetwentyfour {
    margin-top: -1vw;
    margin-left: 14vw;
    margin-bottom: -1.5vw;
}

.body-linetwentyfive {
    margin-left: 7vw;
}

.body-linetwentysix {
    margin-left: 10vw;
}

.body-linetwentyseven {
    margin-left: 8vw;
}

.body-linetwentyeight {
    margin-left: 6vw;
}

.body-linetwentynine {
    margin-left: 4vw;
}

.body-linethirty {
    margin-left: 16vw;
    margin-bottom: -1.5vw;
}

.body-linethirtyone {
    margin-left: 8vw;
}

.body-linethirtytwo {
    margin-left: 4vw;
}

.body-linethirtytwosecond {
    margin-left: 2vw;
}

.body-linethirtythree {
    margin-left: 8vw;
}

.body-linethirtyfour {
    display: inline-block;
    margin-top: 2vw;
    margin-left: 18vw;
}

.body-linethirtyfive {
    margin-left: 16vw;
}

.body-linethirtysix {
    margin-left: 13.6vw;
}

.body-linethirtyseven {
    margin-left: 10.8vw;
}

.body-linethirtyeight {
    margin-left: 8.4vw;
}

.body-linethirtynine {
    margin-left: 6vw;
}

.body-lineforty {
    margin-left: 4vw;
}

.body-linefortyone {
    margin-left: 2vw;
}

.body-linefortythree {
    display: block;
    margin-top: -4.3vw;
    margin-left: 30vw;
    margin-bottom: -2vw;
}

.body-linefortyfour {
    margin-left: 28vw;
}

.body-linefortyfive {
    margin-left: 25vw;
}

.body-linefortysix {
    margin-left: 21vw;
}

.body-linefortyseven {
    margin-left: 18vw;
}

.body-linefortyeight {
    margin-left: 15vw;
}

.body-linefortynine {
    margin-left: 11vw;
}

.body-linefifty {
    margin-left: 8vw;
}

.body-linefiftyone {
    margin-left: 4vw;
}

.body-linefiftytwo {
    margin-left: 8vw;
}

.body-linefiftythree {
    display: block;
    font-size: .7vw;
    margin-left: 36vw;
    margin-top: -3.5vw;
}

/*bottom half grid establishing 2 columns*/
.bottomhalf {
    grid-row: 2/3;
    grid-column: span;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(7, 45vw);
    grid-template-rows: 1fr;
    line-height: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.2vw;
}

.firstcoloumn {
    grid-column: 1/4;
    grid-row: 1/2;
}

/*header in top half*/
h1 {
    width: 100%;
    font-size: 24vw;
    margin-top: -10vw;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(7, 14vw);
    grid-template-rows: repeat(20, 4vw);
}

h2 {
    font-size: 2.6vw;
    font-weight: bold;
}

h3 {
    font-size: $font-size;
    font-weight: $font-weight;
}

li {
    font-size: $font-size;
    font-weight: $font-weight;
}

.outerwrapper {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    color: #FAFAF2;
}

p {
    font-size: $font-size;
    font-weight: $font-weight;
}

.secondcoloumn {
    grid-column: 4/812;
    grid-row: 1/21;
}

.titlefirstletter {
    font-family: $abstract-display;
    grid-column: 1/2;
    grid-row: 12/21;
}

.titlesecondletter {
    font-family: $abstract-display;
    grid-column: 2/3;
    grid-row: 15/21;
}

.titlethirdletter {
    font-family: $thin-display;
    grid-column: 3/4;
    grid-row: 12/16;
}

.titlefourthletter {
    font-family: $thin-display;
    grid-column: 4/5;
    grid-row: 14/20;
}

.titlefifthletter {
    font-family: $thick-display;
    font-size: 28vw;
    grid-column: 5/6;
    grid-row: 1/7;
    margin-left: -6vw;
    transform: rotate(-30deg);
}

.titlesixthletter {
    font-family: $thin-display;
    grid-column: 6/7;
    grid-row: 14/20;
}

.titleseventhletter {
    font-family: $thin-display;
    grid-column: 7/8;
    grid-row: 10/16;
}

.tophalf {
    grid-row: 1/2;
    grid-column: span;
}

ul {
    list-style-type: none;
}

@media (max-width:500px) and (min-width:0px) {
    /*body text font size and weight*/
    $font-sizemediaq: 3vw;

    /*redefined margins for body*/
    .body-lineone {
        padding-top: 10vw;
    }

    .body-linefour {
        margin-left: 44vw;
    }

    .body-linefive {
        margin-top: -4vw;
        margin-left: 34vw;
    }

    .body-linetwelve {
        margin-bottom: -3vw;
    }

    .body-linetwentyfive {
        margin-left: 6vw;
    }

    .body-linetwentytwo {
        margin-top: 10vw;
        margin-left: 20vw;
        margin-bottom: 10vw;
    }

    .body-linethirty {
        margin-bottom: -3vw;
    }

    .body-linethirtyone {
        margin-left: 6vw;
    }

    .body-linethirtytwo {
        margin-left: 2vw;
    }

    .body-linethirtytwosecond {
        margin-left: 0vw;
    }

    .body-linefortythree {
        margin-top: -7.5vw;
        margin-left: 50vw;
        margin-bottom: -4vw;
    }

    .body-linefortyfour {
        margin-left: 47vw;
    }

    .body-linefortyfive {
        margin-left: 43vw;
    }

    .body-linefortysix {
        margin-left: 38vw;
    }

    .body-linefortyseven {
        margin-left: 33vw;
    }

    .body-linefortyeight {
        margin-left: 26vw;
    }

    .body-linefortynine {
        margin-left: 22vw;
    }

    .body-linefifty {
        margin-left: 15vw;
    }

    .body-linefiftyone {
        margin-left: 8vw;
    }

    .body-linefiftytwo {
        margin-left: 15vw;
    }

    .body-linefiftythree {
        display: block;
        font-size: 1.2vw;
        margin-left: 55vw;
        margin-top: -7vw;
    }

    /*bottom half grid establishes 1 column*/
    .bottomhalf {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        font-size: $font-sizemediaq;
        line-height: 4vw;
        margin-left: 6vw;
    }

    .firstcoloumn {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    h2 {
        font-size: 5vw;
        font-weight: bold;
    }

    h3 {
        font-size: $font-sizemediaq;
    }

    li {
        font-size: $font-sizemediaq;
    }

    .outerwrapper {
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 50% 50%;
    }

    p {
        font-size: $font-sizemediaq;
    }

    .secondcoloumn {
        grid-column: 1/2;
        grid-row: 2/2;
    }
}
