* {
    background: #1F2420;
}

.bottomhalf {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(7, 35vw);
    grid-template-rows: 1fr;
    font-family: helvetica;
}

.firstcoloumn {
    grid-column: 1/4;
    grid-row: 1/2;
}

/*google fonts*/
$abstract-display:'Megrim',
cursive;
$thin-display:'Josefin Sans',
sans-serif;
$thick-display:'Raleway',
sans-serif;

h1 {
    font-size: 16vw;
}

h2 {
    font-size: 2 vw;
}

h3 {
    font-size: 1.3vw;
}

li {
    font-size: 1.3vw;
}

.outerwrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    color: #FAFAF2;
    margin: 20px;
}

p {
    font-size: 1.3vw;
}

.secondcoloumn {
    grid-column: 4/8;
    grid-row: 1/2;
}

.span {
    display: inline-block;
}

.titlefirstletter {
    font-family: $abstract-display;
}

.titlesecondletter {
    font-family: $abstract-display;
}

.titlethirdletter {
    font-family: $thin-display;
}

.titlefourthletter {
    font-family: $thin-display;
}

.titlefifthletter {
    font-family: $thick-display;
}

.titlesixthletter {
    font-family: $thin-display;
}

.titleseventhletter {
    font-family: $thin-display;
}

.tophalf {
    grid-row: 1/2;
}

ul {
    list-style-type: none;
}
