body {
  background: #202221;
}

/*all responsive values used becauses the composition and margins are so particular*/
/*google fonts*/
/*left and right margins for body (set in span tag)*/
.line__ {
  /*display block to move up like in poster*/
}

.line__one {
  margin-top: 6vw;
}

.line__two {
  margin-left: 4vw;
}

.line__three {
  margin-left: 8vw;
}

.line__four {
  margin-top: 2vw;
  margin-left: 30vw;
}

.line__five {
  margin-top: -2vw;
  margin-left: 16vw;
}

.line__six {
  margin-left: 4vw;
}

.line__eight {
  margin-left: 4vw;
}

.line__ten {
  margin-left: 12vw;
}

.line__eleven {
  margin-left: 8vw;
}

.line__twelve {
  margin-left: 12vw;
  margin-bottom: -2vw;
}

.line__thirteen {
  margin-top: -1.5vw;
  margin-left: 12vw;
}

.line__fourteen {
  margin-left: 8vw;
}

.line__fifteen {
  margin-left: 4vw;
}

.line__sixteen {
  margin-left: 8vw;
}

.line__eighteen {
  margin-left: 4vw;
}

.line__nineteen {
  margin-left: 6vw;
}

.line__twenty {
  margin-left: 12vw;
}

.line__twentyone {
  margin-left: 16vw;
}

.line__twentytwo {
  margin-top: 10vw;
  margin-left: 20vw;
}

.line__twentythree {
  margin-top: 0;
  margin-left: 16vw;
}

.line__twentyfour {
  margin-top: -1vw;
  margin-left: 14vw;
  margin-bottom: -1.5vw;
}

.line__twentyfive {
  margin-left: 7vw;
}

.line__twentysix {
  margin-left: 10vw;
}

.line__twentyseven {
  margin-left: 8vw;
}

.line__twentyeight {
  margin-left: 6vw;
}

.line__twentynine {
  margin-left: 4vw;
}

.line__thirty {
  margin-left: 16vw;
  margin-bottom: -1.5vw;
}

.line__thirtyone {
  margin-left: 8vw;
}

.line__thirtytwo {
  margin-left: 4vw;
}

.line__thirtytwosecond {
  margin-left: 2vw;
}

.line__thirtythree {
  margin-left: 8vw;
}

.line__thirtyfour {
  display: inline-block;
  margin-top: 2vw;
  margin-left: 18vw;
}

.line__thirtyfive {
  margin-left: 16vw;
}

.line__thirtysix {
  margin-left: 13.6vw;
}

.line__thirtyseven {
  margin-left: 10.8vw;
}

.line__thirtyeight {
  margin-left: 8.4vw;
}

.line__thirtynine {
  margin-left: 6vw;
}

.line__forty {
  margin-left: 4vw;
}

.line__fortyone {
  margin-left: 2vw;
}

.line__fortythree {
  display: block;
  margin-top: -4.3vw;
  margin-left: 30vw;
}

.line__fortyfour {
  margin-left: 28vw;
}

.line__fortyfive {
  margin-left: 25vw;
}

.line__fortysix {
  margin-left: 21vw;
}

.line__fortyseven {
  margin-left: 18vw;
}

.line__fortyeight {
  margin-left: 15vw;
}

.line__fortynine {
  margin-left: 11vw;
}

.line__fifty {
  margin-left: 8vw;
}

.line__fiftyone {
  margin-left: 4vw;
}

.line__fiftytwo {
  margin-left: 8vw;
}

.line__fiftythree {
  display: block;
  font-size: .7vw;
  margin-left: 36vw;
  margin-top: -3.5vw;
}

/*bottom half grid establishing 2 columns and text properties*/
.bottomhalf {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (45vw)[7];
      grid-template-columns: repeat(7, 45vw);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  line-height: 2vw;
  padding-left: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.2vw;
}

.firstcoloumn {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

/*header in top half*/
h1 {
  font-size: 24vw;
  margin-top: -10vw;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (14vw)[7];
      grid-template-columns: repeat(7, 14vw);
  -ms-grid-rows: (4vw)[20];
      grid-template-rows: repeat(20, 4vw);
}

h2 {
  font-size: 2.6vw;
  font-weight: bold;
}

div,
h3,
p,
li {
  font-size: 1.7vw;
  font-weight: 200;
}

/*container for whole compostion seperating in top and bottom halves*/
.outerwrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 0;
  padding-left: 0;
  color: #FAFAF2;
}

.secondcoloumn {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 20;
  grid-row: 1/21;
}

/* title letters- different fonts and locations */
.titlefirstletter {
  font-family: "Megrim";
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 12;
  -ms-grid-row-span: 9;
  grid-row: 12/21;
}

.titlesecondletter {
  font-family: "Megrim";
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 15;
  -ms-grid-row-span: 6;
  grid-row: 15/21;
}

.titlethirdletter {
  font-family: "Josefin Sans", sans-serif;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 12;
  -ms-grid-row-span: 4;
  grid-row: 12/16;
}

.titlefourthletter {
  font-family: "Josefin Sans", sans-serif;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 14;
  -ms-grid-row-span: 6;
  grid-row: 14/20;
}

.titlefifthletter {
  font-family: "Raleway", sans-serif;
  font-size: 28vw;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  margin-left: -6vw;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.titlesixthletter {
  font-family: "Josefin Sans", sans-serif;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 14;
  -ms-grid-row-span: 6;
  grid-row: 14/20;
}

.titleseventhletter {
  font-family: "Josefin Sans", sans-serif;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7/8;
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10/16;
}

/*title location within outer wrapper*/
.tophalf {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: span;
}

ul {
  list-style-type: none;
}

@media (max-width: 850px) and (min-width: 0px) {
  /*redefined margins for body*/
  one {
    padding-top: 1vw;
  }
  four {
    margin-left: 49vw;
  }
  five {
    margin-top: -3vw;
    margin-left: 39vw;
  }
  twelve {
    margin-bottom: -3vw;
  }
  twentytwo {
    margin-top: 0;
    margin-left: 29vw;
    margin-bottom: 4vw;
  }
  twentyfive {
    margin-left: 6vw;
  }
  thirty {
    margin-bottom: -3vw;
  }
  thirtyone {
    margin-left: 6vw;
  }
  thirtytwo {
    margin-left: 2vw;
  }
  thirtytwosecond {
    margin-left: 0vw;
  }
  fortythree {
    margin-top: -7.5vw;
    margin-left: 50vw;
    margin-bottom: -4vw;
  }
  fortyfour {
    margin-left: 47vw;
  }
  fortyfive {
    margin-left: 43vw;
  }
  fortysix {
    margin-left: 38vw;
  }
  fortyseven {
    margin-left: 33vw;
  }
  fortyeight {
    margin-left: 26vw;
  }
  fortynine {
    margin-left: 22vw;
  }
  fifty {
    margin-left: 15vw;
  }
  fiftyone {
    margin-left: 8vw;
  }
  fiftytwo {
    margin-left: 15vw;
  }
  fiftythree {
    display: block;
    font-size: 1.2vw;
    margin-left: 60vw;
    margin-top: -7vw;
  }
  /*bottom half grid establishes and styles 1 column for better readablity*/
  .bottomhalf {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    line-height: 4vw;
    margin-left: 6vw;
  }
  .firstcoloumn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  h2 {
    font-size: 5vw;
    font-weight: bold;
  }
  h3,
  p,
  li,
  .bottomhalf {
    font-size: 3vw;
  }
  /*change template for two columngrid and fix center alignment issue that column units would change*/
  .outerwrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    margin-left: -1vw;
  }
  .secondcoloumn {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
  }
}

@media (max-width: 450px) and (min-width: 0px) {
  /*create breathing room between title and content*/
  one {
    margin-top: 20vw;
  }
  h1 {
    font-size: 32vw;
  }
  /*fix center alignment issue that column units would change*/
  .outerwrapper {
    margin-left: -2vw;
  }
  .titlesecondletter {
    margin-top: 5vw;
  }
  .titlethirdletter {
    margin-left: -3vw;
  }
  .titlefifthletter {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 5;
    grid-row: 2/7;
    font-size: 34vw;
    margin-left: -10vw;
  }
  .titlesixthletter {
    margin-left: -2vw;
  }
  .titleseventhletter {
    margin-left: -4vw;
  }
}
/*# sourceMappingURL=styles.css.map */