* {
    background: #1F2420;
}

.bottomhalf {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(7, 35vw);
    grid-template-rows: 1fr;
    font-family: helvetica;
}

.firstcoloumn {
    grid-column: 1/4;
    grid-row: 1/2;
}

/*google fonts*/
$abstract-display:'Megrim',
cursive;
$thin-display:'Josefin Sans',
sans-serif;
$thick-display:'Raleway',
sans-serif;

h1 {
    width: 100%;
    font-size: 25vw;
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(7, 14vw);
    grid-template-rows: repeat(20, 4vw);
}

h2 {
    font-size: 2 vw;
}

h3 {
    font-size: 1.3vw;
}

li {
    font-size: 1.3vw;
}

.outerwrapper {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    color: #FAFAF2;
}

p {
    font-size: 1.3vw;
}

.secondcoloumn {
    grid-column: 4/8;
    grid-row: 1/21;
}

.titlefirstletter {
    font-family: $abstract-display;
    grid-column: 1/2;
    grid-row: 12/21;
}

.titlesecondletter {
    font-family: $abstract-display;
    grid-column: 2/3;
    grid-row: 15/21;
}

.titlethirdletter {
    font-family: $thin-display;
    grid-column: 3/4;
    grid-row: 12/16;
}

.titlefourthletter {
    font-family: $thin-display;
    grid-column: 4/5;
    grid-row: 14/20;
}

.titlefifthletter {
    font-family: $thick-display;
    grid-column: 5/6;
    grid-row: 1/7;
}

.titlesixthletter {
    font-family: $thin-display;
    grid-column: 6/7;
    grid-row: 14/20;
}

.titleseventhletter {
    font-family: $thin-display;
    grid-column: 7/8;
    grid-row: 10/16;
}

.tophalf {
    grid-row: 1/2;
    margin-top: 0px;
}

ul {
    list-style-type: none;
}
