//all non-home nav pages have the same alternate grid: banner/ heading/ then content formet//

.groups {
    color: $blue;
    font-size: 28px;
}

.alt {

    &_heading {

        &-banner {
            width: 100%;
            height: auto;
        }

        &-title {
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 10%;
        }

        &-description {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 10%;
        }
    }
}

.booking {

    &_form {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: $blue;
        padding-bottom: 8vw;
    }

    &_heading {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $blue;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
    }

    &_instructions {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        line-height: 3vw;
    }

    &_submit {
        color: $white;
        background-color: $pink;
        width: 100px;
        height: 40px;
        border: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.class-description {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: $blue;
    color: $white;
    padding-top: 8%;
    padding-bottom: 8%;

    &_column-1 {
        grid-column: 1/2;
        margin: $edge-margin;
    }

    &_column-2 {
        grid-column: 2/3;
        margin: $edge-margin;
    }

    &_img {
        width: 100%;
    }

    &_name {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $white;
    }
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    margin-bottom: 2vw;
}

.membership-options {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10vw;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $blue;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 2vw;
    text-align-last: center;
}


ol {
    padding-left: 2vw;
}

select {
    margin-bottom: 2vw;
}
