.groups {
    color: $blue;
    font-size: 28px;
}

.classes {
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(27, 10vw);
    }

    &_banner {
        grid-column: 1/11;
        grid-row: 1/5;
    }

    &_heading {
        grid-column: 1/11;
        grid-row: 5/8;
    }

}
