.groups {
    color: $blue;
    font-size: 28px;
}

.booking {
    &_heading {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: $blue;
    }
}

.classes {
    &_wrapper {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    &_heading {

        &-banner {
            width: 100%;
            height: auto;
        }

        &-title {
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 10%;
        }

        &-description {
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 10%;
        }


    }

    &_description {
        grid-column: span;
        grid-row: 8/17;
        display: grid;
        grid-template-columns: repeat(10, 1vw);
        grid-template-rows: repeat(9, 1vw);
        background-color: $blue;
        color: $white;
    }
}
