// jsVariables
$display-nav: 700px;

// JS action classes (*****where to place action classes in relation to other css content****)
[data-visible="false"] {
    display: none;
}

/*google fonts, only one sans serif used accesss at top of page for in progress code*/
$sans-serif: 'Noto Sans TC',
sans-serif;

/*google fonts, weights*/
$bold-weight: 700;
$medium-weight: 500;
$regular-weight: 300;

/*caps text*/
$capsspacing: 2px;
$capssize: 13px;

/*footer text*/
$footersize: 12px;
$footersec_toppadding: .8vw;


/*far left page margin*/
$left-margin: 4vw;

//colors//
$white: #F9F4ED;
$blue:#1b2d34;
$pink:#C1423F;

a {
    text-decoration: none;
    color: inherit;
}

.aboutus {
    grid-column: 1/4;
    grid-row: 9/11;
    margin-left: $left-margin;
}

.aboutus_stroke {
    grid-column: 2/4;
    grid-row: 9/12;
    margin-right: 20%;
    margin-left: auto;
    margin-top: 10%;
}

.aboutus_copy {
    grid-column: 4/9;
    grid-row: 9/11;
    font-size: 18px;
    font-weight: $regular-weight;
    line-height: 3vw;
    margin-top: .5%;
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(21, 10vw);
    background: $white;
    font-family: $sans-serif;
}

.call-to-action {
    grid-column: 4/9;
    grid-row: 12/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2vw;
    color: $white;
    text-transform: uppercase;
    letter-spacing: $capsspacing;
    font-size: $capssize;
    font-weight: $bold-weight;
    text-align: center;
    align-items: center;
}

.cta_link {
    grid-row: 1/2;
    padding: 20px;
    background: $pink;
}


footer {
    grid-column: 1/11;
    grid-row: 19/22;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: -8px;
    padding: 4vw;
    background: $blue;
    color: $white;
}

.footer_sec1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: $capssize;
    letter-spacing: $capsspacing;
}

.footer_sec1-stroke {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-right: 10%;
    margin-left: auto;
    margin-top: 8%;

}

.footer_sec2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: $footersize;
    padding-top: $footersec_toppadding;
}

.footer_sec3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer_sec4 {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: $footersize;
    padding-top: $footersec_toppadding;
}

.footer_sec5 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 3vw;
}

.footer_sec6 {
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: $footersize;
    padding-top: $footersec_toppadding;
}

.footer_sec7 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-left: 3vw;
}

.footer_sec8 {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: $footersize;
    padding-top: $footersec_toppadding;
}

h1 {
    grid-column: 1/6;
    grid-row: 3/4;
    padding-left: $left-margin;
    font-weight: $bold-weight;
    font-size: 2.5vw;
    letter-spacing: .1vw;
    margin-top: 4vw;
    margin-bottom: 0;
}

h2 {
    font-size: $capssize;
    text-transform: uppercase;
    letter-spacing: $capsspacing;

}

header {
    grid-column: 1/10;
    grid-row: 1/7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, .5fr);
    margin-top: -1vw;
    margin-left: -1vw;
    color: $white;
    background: $blue;

}

.heroimage {
    width: 100%;
    grid-column: 4/9;
    grid-row: 4/9;
    padding-top: 4vw;
}

.menu-icon {
    &__line {
        background-color: #444;
        height: 2px;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        width: 42px;
    }
}

.mission-statement {
    grid-column: 1/4;
    grid-row: 4/6;
    padding-left: $left-margin;
    padding-right: 30%;
    font-size: 2vw;
    line-height: 3.5vw;
    font-weight: $regular-weight;
}

//display: grid;//
//grid-template-columns: repeat(6, 130px);
//grid-template-rows: 1fr; //

nav {
    position: fixed;
    display: flex;
    height: 20px;
    width: 100%;
    font-size: $capssize;
    font-weight: $regular-weight;
    text-transform: uppercase;
    letter-spacing: $capsspacing;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: $blue;
    background: $white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $blue;
}

#nav-section {
    grid-column: 1/11;
    grid-row: 2/3;
    display: none;
}

#nav-head:hover #nav-section {
    display: block;
}

.nav_item1 {
    width: 20%;
}

.nav_item2 {
    width: 30%;
}

.nav_item3 {
    width: 30%;
}

.nav_item4 {
    width: 30%;
}

.nav_item5 {
    width: 30%;
}

.nav_item6 {
    width: 30%;
}

ol {
    list-style-type: none;
}

.site-nav {
    $top-height: 30px;

    &__trigger {
        position: absolute;
        top: 0;
        right: 0;

        &[aria-expanded="true"] {
            .menu-icon__line {
                $yValue: 10px;
                $deg: 45deg;

                &:nth-child(1) {
                    transform: translateY($yValue) rotate($deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(-$yValue) rotate(-$deg);
                }
            }
        }

        @media screen and (min-width: $display-nav) {
            display: none;
        }
    }

    &__list {

        @media screen and (max-width: ($display-nav - 1px)) {
            background-color: rgba(#444, 0.75);
            flex-direction: column;
            height: 0;
            position: absolute;
            top: $top-height;
            right: 0;
            left: 0;
            width: 100vw;

            &[data-visible="true"] {
                animation: expand 0.3s ease-in-out forwards; // see the expand animation below
                // this changes the height and opacity of the mobile menu
                display: flex;
            }
        }

        @media screen and (min-width: $display-nav) {
            display: flex;
        }
    }

    &__list-item {
        align-items: center;
        display: flex;
        flex: 1 0 auto;

        @media screen and (max-width: ($display-nav - 1px)) {
            justify-content: center;
        }
    }

    &__link {
        opacity: 0.85;

        &:hover {
            opacity: 1;
        }

        @media screen and (max-width: ($display-nav - 1px)) {
            color: white;
            font-size: 200%;
        }
    }

    @keyframes expand {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: calc(100vh - #{$top-height});
            opacity: 1;
        }
    }
}

ul {
    list-style-type: none;
}

.upcomingevents {
    grid-column: 1/4;
    grid-row: 14/18;
    margin-left: $left-margin;
}

.upcomingevents_contents {
    grid-column: 4/11;
    grid-row: 15/18;
}

.upcomingevents_stroke {
    grid-column: 3/9;
    grid-row: 14/15;
    margin-right: 40%;
    margin-left: auto;
    margin-top: 3%;
}

@media (max-width:500px) and (min-width:450px) {}

@media (max-width: 649px) {
    //*js mobile nav*//
}
