[data-visible="false"] {
  display: none;
}

/*google fonts*/
/*google fonts, weights*/
/*caps text*/
/*footer text*/
/*far left page margin on desktop layout*/
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.aboutus {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  margin-left: 4vw;
}

.aboutus_copy {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
  font-size: 18px;
  font-weight: 300;
  line-height: 3vw;
  margin-top: 0;
}

.aboutus_stroke {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 1.75vw;
  margin-left: 6vw;
  margin-right: 4vw;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (10vw)[21];
      grid-template-rows: repeat(21, 10vw);
  background: #F9F4ED;
  font-family: "Noto Sans TC", sans-serif;
}

.cta {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 12;
  -ms-grid-row-span: 1;
  grid-row: 12/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 2vw;
  color: #F9F4ED;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta_link1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 20px;
  background: #C1423F;
}

.cta_link2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 20px;
  background: #C1423F;
}

.cta_link3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 20px;
  background: #C1423F;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 19;
  -ms-grid-row-span: 3;
  grid-row: 19/22;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 3vw;
  margin: -8px;
  padding: 4vw;
  background: #1b2d34;
  color: #F9F4ED;
}

footer_sec1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 13px;
  letter-spacing: 2px;
}

footer_sec2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 12px;
  padding-top: 3vw;
}

footer_sec3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

footer_sec4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 12px;
  padding-top: 3vw;
}

footer_sec5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding-left: 3vw;
}

footer_sec6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 12px;
  padding-top: 3vw;
}

footer_sec7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

footer_sec8 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 12px;
  padding-top: 3vw;
}

h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding-left: 4vw;
  font-weight: 700;
  font-size: 2.5vw;
  letter-spacing: .1vw;
  margin-top: 4vw;
  margin-bottom: 0;
  color: #F9F4ED;
}

h2 {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (0.5fr)[10];
      grid-template-rows: repeat(10, 0.5fr);
  margin-top: -1.1vw;
  margin-left: -1.1vw;
  background: #1b2d34;
}

.heroimage {
  width: 100%;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 5;
  grid-row: 4/9;
  padding-top: 4vw;
}

.menu-icon__line {
  background-color: #F9F4ED;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 42px;
}

.mission-statement {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  padding-left: 4vw;
  padding-right: 30%;
  font-size: 2vw;
  line-height: 3.5vw;
  font-weight: 300;
  color: #F9F4ED;
}

.nav_item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nav_item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nav_item3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: -2vw;
}

.nav_item4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: 3vw;
}

.nav_item5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-left: 3vw;
}

.nav_item6 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.nav_item-logo {
  width: 70%;
  fill: #1b2d34;
}

#nav-section {
  display: none;
  color: #1b2d34;
  padding-left: 0;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-weight: 300;
}

#nav-head:hover #nav-section {
  display: block;
  -webkit-animation: drop ease-in .2s;
          animation: drop ease-in .2s;
}

@-webkit-keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 0);
    opacity: 1;
  }
}

@keyframes drop {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - 0);
    opacity: 1;
  }
}

ol {
  list-style-type: none;
}

.site-nav__trigger {
  position: absolute;
  z-index: 1;
  top: 3vw;
  right: 4vw;
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line {
  background-color: #1b2d34;
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.site-nav__trigger[aria-expanded="true"] .menu-icon__line:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

@media screen and (min-width: 750px) {
  .site-nav__trigger {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .site-nav__list {
    background-color: #F9F4ED;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 0;
    position: absolute;
    top: -3vw;
    margin-right: 0;
    left: 0;
    width: 100vw;
    padding-top: 10vw;
  }
  .site-nav__list[data-visible="true"] {
    -webkit-animation: expand 0.3s ease-in-out forwards;
            animation: expand 0.3s ease-in-out forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 750px) {
  .site-nav__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding-left: 4vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-top: 0;
    font-size: 13px;
    font-weight: 400;
    color: #1b2d34;
    background: #F9F4ED;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #1b2d34;
  }
}

@media screen and (max-width: 749px) {
  .site-nav__list-item {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 0;
  }
}

.site-nav__link {
  opacity: 0.85;
}

@media screen and (min-width: 750px) {
  .site-nav__link {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 749px) {
  .site-nav__link {
    color: #1b2d34;
    font-size: 150%;
  }
}

@-webkit-keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - -3vw);
    opacity: 1;
  }
}

@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: calc(100vh - -3vw);
    opacity: 1;
  }
}

.u-button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  text-align: inherit;
}

ul {
  list-style-type: none;
}

.upcomingevents {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 14;
  -ms-grid-row-span: 4;
  grid-row: 14/18;
  margin-left: 4vw;
  /*This will be where the image carousel we are making in class will be*/
}

.upcomingevents_contents {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
  -ms-grid-row: 15;
  -ms-grid-row-span: 3;
  grid-row: 15/18;
}

.upcomingevents_stroke {
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3/9;
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  grid-row: 14/15;
  border-top-style: solid;
  border-top-width: 1px;
  margin-top: 4%;
  margin-left: 5vw;
}

@media (max-width: 930px) {
  .aboutus {
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8/11;
  }
  .aboutus_copy {
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8/11;
    margin-top: .5%;
    line-height: 4vw;
  }
  .aboutus_stroke {
    -ms-grid-row: 8;
    -ms-grid-row-span: 4;
    grid-row: 8/12;
    margin-top: 10%;
  }
  body {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    -ms-grid-rows: (11.5vw)[21];
        grid-template-rows: repeat(21, 11.5vw);
  }
  h1 {
    font-size: 3.2vw;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
    margin-right: -1vw;
  }
  .mission-statement {
    padding-right: 25%;
    font-size: 2.4vw;
    line-height: 4vw;
  }
}

@media (max-width: 750px) {
  body {
    -ms-grid-rows: (14vw)[27];
        grid-template-rows: repeat(27, 14vw);
  }
  .aboutus {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    margin-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .aboutus_copy {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 10;
    -ms-grid-row-span: 2;
    grid-row: 10/12;
    line-height: 6vw;
  }
  .aboutus_stroke {
    display: none;
  }
  .cta {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 15;
    -ms-grid-row-span: 1;
    grid-row: 15/16;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 23;
    -ms-grid-row-span: 5;
    grid-row: 23/28;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    margin: -8px;
    padding: 4vw;
    background: #1b2d34;
    color: #F9F4ED;
  }
  footer_sec5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    padding-left: 0;
  }
  footer_sec6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  footer_sec7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-left: 0;
  }
  footer_sec8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  header {
    margin: -1.5vw;
  }
  .heroimage {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
  }
  .upcomingevents {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 17;
    -ms-grid-row-span: 1;
    grid-row: 17/18;
    margin-left: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .upcomingevents_contents {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    -ms-grid-row: 18;
    -ms-grid-row-span: 3;
    grid-row: 18/21;
  }
  .upcomingevents_stroke {
    display: none;
  }
}

@media (max-width: 550px) {
  .aboutus {
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
  }
  .aboutus_copy {
    -ms-grid-row: 13;
    -ms-grid-row-span: 6;
    grid-row: 13/19;
  }
  body {
    -ms-grid-rows: (14vw)[38];
        grid-template-rows: repeat(38, 14vw);
  }
  .cta {
    -ms-grid-row: 20;
    -ms-grid-row-span: 1;
    grid-row: 20/21;
  }
  h1 {
    font-size: 5vw;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 9;
    grid-row: 1/10;
    margin: -1.9vw;
  }
  .heroimage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
    margin-left: 2vw;
  }
  .mission-statement {
    padding-right: 0;
    font-size: 4vw;
    line-height: 7vw;
  }
  .upcomingevents {
    -ms-grid-row: 22;
    -ms-grid-row-span: 1;
    grid-row: 22/23;
  }
  .upcomingevents_contents {
    -ms-grid-row: 23;
    -ms-grid-row-span: 3;
    grid-row: 23/26;
  }
  footer {
    -ms-grid-row: 30;
    -ms-grid-row-span: 9;
    grid-row: 30/39;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
  }
  footer_sec1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  footer_sec2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  footer_sec3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  footer_sec4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  footer_sec5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  footer_sec6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  footer_sec7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  footer_sec8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
}
/*# sourceMappingURL=styles.css.map */